.app {
  text-align: center;
  background-color: #FEF5E7;
}

.app-main {
  margin-top: 7rem;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.app-footer {
  background-color: #2E4053;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}